body{
    background: url(../img/backgraund.jpg) no-repeat 10% fixed;
    background-size:cover;
}
.dashbord{
    display: flex;
    align-items: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.panelholder{
    background: rgb(22 22 24 / 75%);
    border-radius: 22px;
    height: calc(100vh - 110px);
    width: 90%;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    backdrop-filter: saturate(180%) blur(20px);
}
.user-dashboard{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 270px;
    height: 100%;
    /* background: var(--nav-footer); */
}
.user-dashboard a{
    border-radius: 40px;
    width: 220px;
    height: 60px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: #FFF;
}
.user-dashboard a:hover:not(.btnselect){
    backdrop-filter: saturate(180%) blur(20px);
    transition: all .3s ease-in-out;
}
.user-dashboard .btnselect{
    color: #FFF;
    background: #ffbf00a1;
    box-shadow: 0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1;
}
.user-panel .texts{
    font-weight: bold;
    border-bottom: 1px solid rgb(173, 172, 172) ;
}

.subscrabtion{
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 90px;
    background: var(--nav-footer);
}
.dashbord-container{
    width: 100%;
    display: grid;
    grid-template-rows:repeat(1,1fr) ;
    grid-template-columns:repeat(2,1fr) ;
}

@media (min-width:0px) and (max-width:580px) {
    .dashbord{
        background-blend-mode: darken;
        background-size: cover;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .panelholder{
        background: rgb(22 22 24 / 75%);
        height: 100%;
        width: 100%;
        max-width: 1380px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 0px;
    }
    .dashbord-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .user-dashboard{
        display: none;
    }

    .side-menu{
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        background: rgb(22 22 24 / 75%);
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 13px 0px 0px 13px;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all .3s ease-in-out;
        transform: translateX(300px);
        box-shadow: 10px 10px 10px 10px black ;
        
    }
    .sidehide{
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        background: rgb(22 22 24 / 75%);
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 13px 0px 0px 13px;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(0px);
        transition: all .3s ease-in-out;
    }
    .side-menu a{
        border-radius: 40px;
        width: 220px;
        height: 60px;
        padding: 16px;
        font-weight: bold;
        font-size: 20px;
        margin: 0px 15px 0px 0px;
        text-decoration: none !important;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        color: #FFF;
    }
    .side-menu a:hover:not(.btnselect){
        background: rgba(67, 67, 68, 0.75);
        backdrop-filter: saturate(180%) blur(20px);
        transition: all .3s ease-in-out;
    }
    .side-menu .btnselect{
        color: #FFF;
        background: #ffbf00a1;
        box-shadow: 0 0 8px #ffbf00a1,
        0 0 8px #ffbf00a1,
        0 0 8px #ffbf00a1,
        0 0 8px #ffbf00a1;
    }
    .remover{
        width: 35px;
        height: 35px;
        margin-top: 34px;
        border: none;
        background-color: transparent;
        color: white;
    }

}
@media (min-width:581px) and (max-width:720px) {
    .dashbord{
        background-blend-mode: darken;
        background-size: cover;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .panelholder{
        background: rgb(22 22 24 / 75%);
        height: 100%;
        width: 100%;
        max-width: 1380px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 0px;
    }
    .user-dashboard{
        display: none;
    }
    
    .side-menu{
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        background: rgb(22 22 24 / 75%);
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 13px 0px 0px 13px;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all .3s ease-in-out;
        transform: translateX(300px);
        box-shadow: 10px 10px 10px 10px black ;
        
    }
    .sidehide{
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        background: rgb(22 22 24 / 75%);
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 13px 0px 0px 13px;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(0px);
        transition: all .3s ease-in-out;
    }
.side-menu a{
    border-radius: 40px;
    width: 220px;
    height: 60px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 15px 0px 0px;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: #FFF;
}
.side-menu a:hover:not(.btnselect){
    background: rgba(67, 67, 68, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    transition: all .3s ease-in-out;
}
.side-menu .btnselect{
    color: #FFF;
    background: #ffbf00a1;
    box-shadow: 0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1,
    0 0 8px #ffbf00a1;
}
.remover{
    width: 35px;
    height: 35px;
    margin-top: 34px;
    border: none;
    background-color: transparent;
    color: white;
}
}
@media (min-width:721px){
    
    .user-dashboard a{
        border-radius: 40px;
        width: 220px;
      
        padding: 16px;
        font-weight: bold;
        font-size: 20px;
        margin: 0px 15px 0px 0px;
        text-decoration: none !important;
        display: block;
        align-items: center;
        color: #FFF;
        display: flex;
        flex-direction: row;
    }

    
.side-menu{
    display: none;
}
.sidehide{
    display: none;
}
   
}





.user-box {
    position: relative;
}
.user-box input,textarea {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid rgba(44, 44, 44, 0.61);
    outline: none;
    border-radius: 13px;
    font-size: 20px;
    direction: rtl;
    background-color: rgb(65, 64, 64);
}
.user-box input:hover:not( input:focus , input:valid ) ,textarea:hover{
    border: 2px solid  rgb(139, 139, 139);
    transition: all .3s ease-in-out;
}

.user-box input:disabled{
    background-color: rgba(155, 155, 155, 0.384);
}

.user-box .changeing {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 10px 0;
    font-size: 18px;
    color: #afbb6a;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -40px;
    right: 18px;
    color: #afbb6a;
    font-size: 18px;
}