{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}">
    <link rel="stylesheet" href="{% static 'css/userpanel.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@500;600&display=swap" rel="stylesheet">


    <title>Navels
        {% if user.is_authenticated %}
            | {{ request.user.username }}
        {% endif %}
    </title>
</head>
<body>

{% if user.is_authenticated %}

    <main>

        <div class="dashbord">

            <div class="panelholder" >

                <div  style="overflow-y: auto; width: 100%;">

                    <section class="user-panel">

                        <div class="d-flex flex-row justify-content-between align-items-center mx-3 mt-3">
                            <div class="d-flex flex-row align-items-center">
                                <img class="rounded-5" width="70px" height="70px" src="/media/{{ request.user.UserImg }}" alt="">
                                <span class="mx-3 " style="color: #ffffff; font-size: 25px;">{{ request.user.username }}_{{ request.user.UserID }}</span>
                            </div>
                            <div class="burger-menu-btn mt-2"><i class=" fa-solid fa-bars fa-lg ms-2 " style="color: #ffffff; font-size: 25px;" id="ShowSideMenu"></i></div>
                        </div>

                         <div class="side-menu" id="side-menu" style="z-index: 1000;">
                            <button id="HidMenu" class=" mx-2 remover fa-solid fa-x"><i class=""></i></button>
                            <a class="mt-2" href="{% url 'index' %}" ><span>صفحه اصلی</span><i class="fa-solid fa-house mx-2"></i></a>

                            <a class="mt-3 " href="Dashbord"  id="dashbord1" onclick="opendashbord(),location.href='{% url 'profile' %}'"><span>داشبورد</span><i class="fa-solid fa-dashboard mx-2"></i></a>
                            <a class="mt-2 " href="saves"  id="save1" onclick="opensave(),location.href='{% url 'saves' %}'"><span>ذخیره ها</span><i class="fa-regular fa-bookmark mx-2"></i></a>
                            <a class="mt-2 btnselect" href="newstory" id="cratestory1" onclick="newstory()"><span>نوشتن داستان</span><i class="fa-solid fa-book mx-2"></i></a>
                            <a class="mt-2 " href="setting" id="setting1" onclick="opensetting(),location.href='{% url 'setting' %}'"><span>تنظیمات</span><i class="fa-solid fa-gears mx-2"></i></a>
                            <a class="mt-2 " href="connect" id="connect1" onclick="openconnect(),location.href='{% url 'connect' %}'"><span>پشتیبانی</span><i class="fa-solid fa-headphones mx-2"></i></a>
                            <a onclick="location.href='{% url 'logout' %}' " class="mt-2 mb-3" href="#" id=""><span>خروج از حساب</span><i class="fa-solid fa-power-off mx-2 "></i></a>

                        </div>


                        <!-- story  -->
                        <section class="" id="dashbord">

                          <div class="d-flex flex-row justify-content-between m-3 texts" style="direction: rtl;"><span class="h3" style="color: white;">داستان جدید</span></div>

                          <!-- if user hade subscraption blow section have to hide -->
                          <form method="post" >
        {% csrf_token %}

        <div class="d-flex flex-column justify-content-center align-items-center m-3">

            <div class="txt-editor">

                <div class="">

                   <div class="mb-3 row gap-4 mx-1" style="direction: rtl;">

                   <input style="font-size: 25px;background: rgba(255,255,255,0.89) !important; color: black !important;" dir="rtl" id="writer_name" class="HA-input w-100 col-12 p-1 px-2" type="text" value="{{ request.user.username }}" disabled>

                        <input id="news" class="HA-input col p-1" type="text" placeholder="نام داستان">

                       <select class="HA-input col" name="" id="ganer">
                                <option value="ganer" selected disabled>ژانر</option>
                                <option value="harror">ترسناک</option>
                                <option value="deram">درام</option>
                                <option value="fantesy">فانتزی</option>
                                <option value="actions">اکشن</option>
                        </select>
                        <textarea style="background: white !important; color: black !important;" dir="rtl" id="summary" class="col-12 px-1" type="text" placeholder="خلاصه داستان" maxlength="120"></textarea>


                   </div>


                </div>


                <div style="direction: rtl;">
                    <input class=" mt-1 mx-2 p-2 rounded-2 border-0 bg-warning" type="button" value="ذخیره و انتشار" onclick="Create_Story()">
                </div>

            </div>


        </div>






 </form>

                        </section>


                    </section>

                </div>


                <aside class="user-menu" >

                    <div class="user-dashboard"  style=" overflow-y: auto;">

                      <div class="d-flex flex-row justify-content-center align-items-center"><span style="font-size: 30px; font-weight: bolder; color: rgb(255, 255, 255);">MIKA</span><img class="rounded-5" src="{% static 'img/logo.jpg' %}" alt="" style="width: 60px; margin: 20px;"></div>
                      <a class="mt-2" href="{% url 'index' %}" ><span>صفحه اصلی</span><i class="fa-solid fa-house mx-2"></i></a>

                      <a class="mt-2 " id="dashbord2" href="Dashbord"  onclick="opendashbord(),location.href='{% url 'profile' %}'"><span>داشبورد</span><i class="fa-solid fa-dashboard mx-2"></i></a>
                      <a class="mt-2 " href="saves" id="save2" onclick="opensave(),location.href='{% url 'saves' %}'"><span>ذخیره ها</span><i class="fa-regular fa-bookmark mx-2"></i></a>
                      <a class="mt-2 btnselect" href="newstory" class="mt-2 " id="cratestory2" onclick="newstory()"><span>نوشتن داستان</span><i class="fa-solid fa-book mx-2"></i></a>
                      <a class="mt-2 " href="setting"  id="setting2" onclick="opensetting(),location.href='{% url 'setting' %}'"><span>تنظیمات</span><i class="fa-solid fa-gears mx-2"></i></a>
                      <a class="mt-2 " href="connect" id="connect2" onclick="openconnect(),location.href='{% url 'connect' %}' "><span>پشتیبانی</span><i class="fa-solid fa-headphones mx-2"></i></a>
                      <a onclick="location.href='{% url 'logout' %}' " class="mt-2 mb-3"><span>خروج از حساب</span><i class="fa-solid fa-power-off mx-2 "></i></a>

                    </div>

                </aside>


            </div>
        </div>

    </main>

{% else %}

        <div class="modal fade m-auto show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content login">
                <div class="d-flex flex-row align-items-start mt-3 mx-3">
                    <i class="fa-solid fa-home-alt" style="cursor: pointer; font-size: 20px;" onclick="location.href='{% url 'index' %}' "></i>
                </div>

                <div class="modal-body">

                    <div class="d-flex flex-column align-items-center " >

                        <h5 class="modal-title h3" id="exampleModalLabel">لطفا وارد حساب کاربری خود شوید</h5>

                    </div>

                </div>

            </div>
        </div>
    </div>

    {% if messages %}
    <div class="container d-flex flex-column align-items-center" role="alert" dir="rtl">
        {% for message in messages %}
            <div class="  alert alert-{{ message.tags }} text-center position-fixed w-75 d-flex flex-row" data-mdb-delay="3000" style="top: 15px ;z-index: 1000">

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="position-relative text-center w-100" style="z-index: 100000">{{ message }}</div>

            </div>
        {% endfor %}
    </div>
{% endif %}


{% endif %}

    <!-- <script src="../static/js/all.min.js"></script> -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/userpanel.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    <script>

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);

    </script>

</body>
</html>